$color--black: #000;
$color--pink: #e71682;
$color--gray: #777;
$color--light--gray: #d5d5d5;
$color--medium--gray: #95989a;
$color--orange: #f89808;

$shadow-medium: rgba(0,0,0,.3);

$tablet--min--width: 568px;
$desktop--min--width: 960px;
$big--desktop--min--width: 1600px;

$font--second: 'Roboto';

$slide--duration: 4s;

@mixin moreLink {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    border-bottom: 1px solid #d9d9d9;
    margin: 0 15px;
    img {
        margin-right: 10px;
        height: .8em;
        animation: slideHorizontal 1s infinite alternate;
    }
}

@mixin absolutePseudo {
    position: relative;
    &:after {
        content: " ";
        position: absolute;
    }
}

@mixin pseudoQuot {
    content: " ";
    position: absolute;
    width: 6px;
    height: 4px;
    border: 1px solid $color--light--gray;
    border-top: 0;
    border-bottom: 0;
    transform: skewX(-45deg);
}

@mixin pseudoCircle {
    content: " ";
    position: absolute;
    width: 40px;
    height: 40px;
    border: 1px solid $color--light--gray;
    border-radius: 50%;
}

@mixin pseudoRotatedLine {
    content: " ";
    position: absolute;
    width: 1px;
    background-color: $color--light--gray;
    transform-origin: left bottom;
    transform: rotate(45deg);
}

@keyframes zoomIn {
    to {
        transform: scale(1.1);
    }
}

@keyframes floatDown {
    from {
        transform: translateY(-15px);
    }
    to {
        transform: translateY(5px);
    }
}

@keyframes floatUp {
    from {
        transform: translateY(10px);
    }
    to {
        transform: translateY(5px);
    }
}

@keyframes floatRight {
    from {
        transform: translateX(-10px);
    }
    to {
        transform: translateX(5px);
    }
}
