.menu__container {
    position: fixed;
    top: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateY(calc(-100% - 300px));
    transition: all .25s ease-out;
}

.menu__container--active {
    transform: translateY(0);
}

.menu__scrollable {
    height: 100%;
    background-color: $color--black;
    overflow: auto;
}

.menu__subMenu--desktop, .menu__subHeader {
    display: none;
}

.menu__list {
    width: 100%;
    height: 100%;
    margin: 0;
    color: #fff;
    list-style: none;
    padding: 15px 30px;
    padding-bottom: 45px;
    font-size: 19px / 810px * 100vh;
    z-index: -1;
}

.menu__item {
    margin: 15px 0;
}

.menu__subList {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    margin-top: 15px;
    padding: 0;
    padding-left: 20px;
}

.menu__subItem {
    font-size: .8em;
    margin-bottom: 10px;
}

.menu__item--pink {
    color: $color--pink;
    font-weight: 600;
}

.menu__contact--desktop {
    display: none;
}

.menu__contact--mobile {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

@media (min-width: $tablet--min--width) {
  .menu__list {
    font-size: 19px;
    padding: 45px;
  }
  .menu__item {
    margin-bottom: 30px;
  }

  .menu__subItem {
    margin-bottom: 20px;
  }
}

@media (min-width: $desktop--min--width) {
    .menu__container {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        z-index: auto;
        transform: none;
        width: auto;
    }

    .menu__list {
        display: flex;
        width: 100%;
        justify-content: space-between;
        background-color: #fff;
        color: #000;
        padding: 0;
        height: 100%;
    }

    .menu__item {
        height: 100%;
        width: 100%;
        margin: 0;
        background-color: #fff;
        padding-left: 60px;
        white-space: nowrap
    }

    .menu__item--pink:hover {
        color: $color--orange;
    }

    .menu__item--blackForDesktop {
        color: #000;
        font-weight: 400;
        &:hover {
            color: inherit;
        }
    }

    .menu__item--active {
        pointer-events: none;
    }

    .menu__link {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: relative;
        z-index: 100;
        span {
            position: relative;
            &:after {
                content: " ";
                position: absolute;
                bottom: -5px;
                left: -15px;
                width: calc(70%);
                height: 5px;
                background-color: $color--pink;
                transform: translateX(-50%);
                opacity: 0;
                transition: all .25s ease-out;
            }
        }
        &:hover span:after {
            transform: none;
            opacity: 1;
        }
    }

    .menu__item:hover{
        .menu__subMenuCont {
            transform: translateY(100%) scaleY(1);
            opacity: 1;
        }
    }

    .menu__subMenuCont {
        position: absolute;
        bottom: 0;
        transform: translateY(100%) scaleY(0);
        opacity: 0;
        right: 0;
        width: 75vw;
        max-width: 1080px;
        padding: 45px;
        box-shadow: 0px 10px 15px $shadow-medium;
        display: flex;
        justify-content: space-between;
        background-color: #fff;
        z-index: 10;
        transition: all .25s 0s ease-out;
    }

    .menu__subMenu {
        width: 47%;
        text-align: left;
    }

    .menu__subMenu--desktop {
        display: block;
    }

    .menu__subHeader {
        font-weight: 600;
        font-size: 22px;
        display: inline-block;
        margin: 0;
        background-color: #fff;
        padding: 5px;
    }

    .menu__subList {
        padding: 0;
        margin-top: 30px;
        display: grid;
        grid-template: repeat(4, 1fr) / 1fr 1fr;
        grid-gap: 25px;
        grid-auto-flow: column;
    }

    .menu__subItem {
        margin: 0;
    }

    .menu__subItem--special {
        font-weight: 600;
        color: $color--pink;
        background: url('../img/icons/pink_arrow.svg') no-repeat right center;
    }

    .menu__contact--mobile {
        display: none;
    }
}
