* {
    box-sizing: border-box;
    font-family: Raleway;
}

body {
    padding: 0;
    padding-top: 100px; //for mobile navbar
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.global__content {
    margin: auto;
    max-width: 1920px;
    overflow: hidden;
}

.capitalized {

}

.bigLetter {
    display: inline-block;
    font-size: 49px;
    font-weight: 700;
    float: left;
    vertical-align: baseline;
    line-height: 45px;
    padding-right: 10px;
}

@media (min-width: $desktop--min--width) {
    body {
        padding-top: 0;
    }

    .global__content {
        padding: 0 60px;
    }
}

@media (min-width: $big--desktop--min--width) {
    .global__content {
        padding: 0 120px;
    }
}
